body {
    font-family: 'Arial', sans-serif;
    margin: 0.5px;
    padding: 0.5px;
    background-color: rgba(240, 242, 245, 1);
    
}
header {
    background: radial-gradient(circle,  rgba(74, 161, 255, 0.8), rgba(0,83, 250, 0.8)); /*Slightly Trasnparent header*/
    color: white;
    padding: 1px;
    text-align: center;
    box-shadow: 0 5px 6px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}
header img {
    width: 150px;
    height: auto;
    margin: 5px;
    border-radius: 150px;
}

h1 {
    background: linear-gradient(to right, #007bff, #6610f2);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);  
}
h2 {
    font-size: 28px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); 
    text-align: center; 
}
h3 {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3)
}


table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    text-align: center;
    box-shadow: 0 5px 6px rgba(0,0,0,0.3);
}
th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #04aa6d;
    color: white;
}
tr:hover {
    background-color: #ddd;
}
ul {
    list-style-type: circle;
    padding: 1;
}
li {
    padding: 5px 0;
}
ul li:first-child {
    font-weight: bold;
}
a {
    transition: font-size .5s ease-in-out, color .5s ease-in-out;
}
a:hover {
    font-size: 25px;
}
.intro{
    box-shadow: 0 5px 6px rgba(0,0,0,0.1);
    text-align: center;
    margin: 2px;
    padding: 10px;
}
.intro ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav{
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    width: 200px;
    box-shadow: 0 5px 6px rgba(0,0,0,0.3);
}
.nav ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    font-size: 19px;
    font-weight: bold;
    
}
.nav ol a {
    text-decoration: none;
}

.nav ol a:hover {
    color: rgba(210, 232, 255, 0.8);
}
.about-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.background, .career-goals, .personal-interests{
    display: grid;
    margin: 5px;
    background: linear-gradient(to right bottom, rgba(112, 177, 247, 0.8), rgba(0,83, 250, 0.8));
    border-radius: 5px;
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
    transition: margin .5s;
}
.background:hover, .career-goals:hover, .personal-interests:hover {
    margin: 0;
}

.project {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background: linear-gradient(to right bottom, rgba(211, 211, 211, 0.8), rgba(245, 245, 245, 0.8));
    box-shadow: 0 5px 3px rgba(0,0,0,0.3);
}

.project img {
    width: 200px;
    height: auto;
    border: ridge #000;
    padding: 5px;
    border-radius: 5px;
    transition: width 1s ease-in-out;
}

.project img:hover {
    width: 600px;
}

@media only screen and (max-width: 600px) {
    .nav {
        position: static;
    }
    .nav ol a:hover {
        color: rgba(84, 164, 248, 0.8);
    }
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .background {
        grid-area: 1 / span 2;
    }
    .career-goals {
        grid-area: 2 / span 2;
    }
    .personal-interests {
        grid-area: 3 / span 2;
    }
}